* {
  background-color: #181818;
  color: #FFF;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-VariableFont_wght.ttf');
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: left;
  padding-left: 17px;
  padding-top: 17px;
  padding-right: 13px;

  font-family: 'Montserrat', sans-serif;
}

body{
  margin: 0;
}


.main-container{
  background-color: #181818;
}

.wrapper-instruction{
  grid-area: a;
}

.instruction-title{
  margin: 0;
  font-size: 34px;
  line-height: 34px;
  font-weight: 400;
}

.text-instruction{
  padding-top: 33px;
  font-size: 16px;
  line-height: 27px;
  margin: 0;
}

.additionally{
  padding-top: 16px;
}

.wrapper-yamaguchi{
  position: relative;
  height: 757px;
  overflow: hidden;
}

.yamaguchi-image{
  position: absolute;
  background: none;
  z-index: 2;
}

.wrapper-black-hole{
  position: relative;
  grid-area: b;
}

.black-hole{
  position: absolute;
  bottom: -35px;

  width: 250px;
  height: 61px;

  margin-left: 22px;

  background-color: #000;
  border-radius: 50%;

  z-index: 1;
}

.wrapper-app-image{
  margin-top: 45px;
  height: 425px;

  margin: 0;
  padding-top: 45px;

  grid-area: c;
}

.app-image{
  position: absolute;
  left: -27px;
}

.phrase{
  grid-area: d;
}

.word{
  font-weight: 900;
}

.first{
  font-size: 38.5px;
  line-height: 34px;
}

.second{
  font-size: 61.5px;
  line-height: 55px;

  margin: 10px 0;
}

.third{
  font-size: 50px;
  line-height: 45px;
}

@media(min-width: 1000px){
  *{
    background-image: url('./assets/vector.png');
  }

  #root {
    padding: 0;
    max-width: 1920px;
  }

  .main-container{
    display: grid;
    grid-template-areas: 
      "a b c"
      "a b c"
      "d b c";
      
    grid-template-columns: 776px 320px 700px;
  }

  .wrapper-instruction{
    width: 586px;
    padding-top: 72px;
    padding-left: 99px;
  }

  .wrapper-app-image{
    position: relative;
    height: auto;
  }

  .instruction-title{
    width: 400px;

    font-size: 56px;
    line-height: 50px;
    line-height: 70px;
  }

  .text-instruction{
    font-size: 22px;
    line-height: 37.4px
  }

  .additionally{
    padding-top: 20px;
    width: 500px;
  }

  .phrase{
    width: 500px;

    padding-top: 40px;
    padding-left: 99px;
  }

  .first{
    display: block;
    padding-bottom: 15px ;
  }

  .second{
    display: inline;
    margin-top: 0;
    padding-left: 53px ;
  }

  .third{
    font-size: 61.5px;
    line-height: 55px;
  }

  .black-hole{
    bottom: 0px;
    left: -10px;
    background-image: none;
  }

  .app-image{
    top: -15px
  }
}